<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "severity": "%level",
                        "service": "healix-erp-backend",
                        "traceId": "%mdc{traceId}",
                        "tenantId": "%mdc{tenantId}",
                        "correlationId": "%mdc{correlationId}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <fieldName>stackTrace</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <!-- App log outputs -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
